<%= form_with(model: post, local: true, url: url) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="row">
  <div class="col-md-12">
    <div class="field form-group">
      <%= form.label :title %>
      <%= form.text_field :title, id: :post_title, :class => "form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :banner_image_url %>
      <%= form.text_field :banner_image_url, :class => "form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :description %>
      <%= form.text_area :description, id: :post_description, :class => "form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :body %>
      <%= form.text_area :body, id: :post_body, :class => "tinymce form-control", :rows => 5 %>
    </div>

  </div>



</div>
  <div class="actions">
    <%= form.submit "Save Post", :class => "btn btn-success" %>
    <%= link_to 'Discard and Return', authors_posts_path, :class => "btn btn-warning" %>
  </div>

  <%= tinymce %>
<% end %>
